@tailwind base;
@tailwind components;
@tailwind utilities;

/* 스크롤 초기화 설정 */
html {
  scroll-behavior: smooth;
  overflow-y: auto;
  height: 100%;
}

body {
  margin: 0;
  padding: 0;
  min-height: 100%;
  overflow-y: auto;
  position: relative;
}

#root {
  min-height: 100vh;
  position: relative;
}

:root {
  padding: 0;
  margin: 0;

  --color-main: #8b59ff;
  --color-line: #d4d4d4;
  --color-text-primary: #202020;
  --color-text-intermediate: #3e3e3e;
  --color-text-secondary: #707070;
  --color-text-tertiary: #5f82ff;
  --color-text-inverse: #ffffff;
  --color-text-transparent: rgba(112, 112, 112, 0.1);

  --color-surface-primary-1: #c9b3ff;
  --color-surface-primary-2: #ffffff;
  --color-surface-secondary: #f2f2f2;

  --color-button-primary-1: #c9b3ff;
  --color-button-primary-2: #ba9dff;
  --color-button-secondary-1: #e8e8e8;
  --color-button-secondary-2: #d4d4d4;
  --color-button-inverse: #000000;
  --color-button-primary-hover-1: #a781ff;
  --color-button-primary-hover-2: #ba9dff;
  --color-button-secondary-hover: #acacac;

  --color-background-primary: #f2f2f2;
  --color-background-secondary: #f1ebff;

  --color-accent-highlight: #ffc9a3;
  --color-accent-positive: rgba(67, 109, 255, 0.08);
  --color-accent-negative: rgba(255, 70, 70, 0.08);
  --color-accent-red-1: #ff5757;
  --color-accent-red-2: #ff8383;
  --color-accent-purple: #9a6fff;
  --color-accent-blue: #7c99ff;

  --color-drag-background: rgba(178, 148, 250, 0.4);
}

@media (prefers-color-scheme: dark) {
  :root {
    padding: 0;
    margin: 0;

    --color-main: #d8c9ff;
    --color-line: #848484;
    --color-text-primary: #f2f2f2;
    --color-text-intermediate: #e8e8e8;
    --color-text-secondary: #e8e8e8;
    --color-text-tertiary: #eaefff;
    --color-text-inverse: #000000;
    --color-text-transparent: rgba(255, 255, 255, 0.2);

    --color-surface-primary-1: #ba9dff;
    --color-surface-primary-2: #000000;
    --color-surface-secondary: #707070;

    --color-button-primary-1: #ba9dff;
    --color-button-primary-2: #ba9cff;
    --color-button-secondary-1: #3e3e3e;
    --color-button-secondary-2: #3e3e3e;
    --color-button-inverse: #ffffff;
    --color-button-primary-hover-1: #c9b3ff;
    --color-button-primary-hover-2: #ba9dff;
    --color-button-secondary-hover: #c0c0c0;

    --color-background-primary: #3e3e3e;
    --color-background-secondary: #9a6fff;

    --color-accent-highlight: #ffc9a3;
    --color-accent-positive: rgba(67, 109, 255, 0.3);
    --color-accent-negative: rgba(255, 70, 70, 0.3);
    --color-accent-red-1: #ff5757;
    --color-accent-red-2: #ff8383;
    --color-accent-purple: #9a6fff;
    --color-accent-blue: #7c99ff;
  }
}

@font-face {
  font-family: 'PretendardBlack';
  src: url('/src/assets/fonts/Pretendard-Black.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'PretendardBold';
  src: url('/src/assets/fonts/Pretendard-Bold.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'PretendardSemiBold';
  src: url('/src/assets/fonts/Pretendard-SemiBold.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'PretendardExtraBold';
  src: url('/src/assets/fonts/Pretendard-ExtraBold.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'PretendardMedium';
  src: url('/src/assets/fonts/Pretendard-Medium.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'PretendardRegular';
  src: url('/src/assets/fonts/Pretendard-Regular.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'PartialSans';
  src: url('/src/assets/fonts/PartialSansKR-Regular.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}
